<div class="offers-list">
  <% @offers.each do |offer| %>
    <div class="offer-item">
      <table>
          <tr>
            <td><%= offer.title %></td>
          </tr>
          <tr>
            <td><%= offer.description %></td>
          </tr>
          <tr>
            <td><%= link_to 'Shop', offer.url %></td>
          </tr>
      </table>
    </div>
  <% end %>
</div>
