<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Link</th>
    </tr>

    <% @offers.each do |offer| %>
        <tr>
        <td><%= offer.title %></td>
        <td><%= offer.description %></td>
        <td><%= link_to 'Shop', offer.url %></td>
        </tr>
    <% end %>
</table>
